name: Main Pipeline

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select environment"
        required: true
        type: choice
        options:
          - dev
          - sys

jobs:
  call-build:
    uses: ./.github/workflows/reusable-build.yml
    with:
      environment: ${{ inputs.environment }}
